## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,1,Cape Town,ZA,78.01,clear sky,-33.93,18.42,Southern Sun Waterfront Cape Town
1,4,Mahibadhoo,MV,82.78,overcast clouds,3.78,72.97,Omadhoo Inn
2,7,Singkang,MY,78.80,light rain,2.10,102.80,Kampung Seri Makmor Pagoh
3,8,Vaini,TO,75.20,light rain,-21.20,-175.20,Keleti Beach Resort
4,12,Butaritari,KI,81.73,clear sky,3.07,172.79,Isles Sunset Lodge

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Jatiroto")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Jatiroto")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Boyolangu")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Kalianget")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Labuhan")]

In [103]:
vacation_end

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
110,414,Jatiroto,ID,78.12,moderate rain,-7.88,111.12,Mushola Al Huda

In [122]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = vacation_start.to_numpy()
start = vacation_start[["Lat", "Lng"]].to_numpy()
end = vacation_end[["Lat", "Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()

In [125]:
start = (-7.88, 111.12)
end = (-7.88, 111.12)
stop1 = (-8.12, 111.89)
stop2 = (-7.05, 113.93)
stop3 = (-6.88, 112.21)

In [127]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
directions = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],
                                   travel_mode='DRIVING')
fig.add_layer(directions)

fig

Figure(layout=FigureLayout(height='420px'))

In [131]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,414,Jatiroto,ID,78.12,moderate rain,-7.88,111.12,Mushola Al Huda
1,544,Boyolangu,ID,82.31,overcast clouds,-8.12,111.89,Yos ega cv
2,250,Kalianget,ID,84.99,few clouds,-7.05,113.93,Pesanggrahan Garam
3,363,Labuhan,ID,84.65,broken clouds,-6.88,112.21,bador sepret

In [134]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [137]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))